/* 
Creato da Robert Bustiuc (con l'aiuto di alcuni strumenti).
*/

a {
    color: white;
    transition: 0.3s;
}

a:hover {
    color: #b4d7ff;
    /* transition: 0.4s; */
    transition-timing-function: ease-in-out ;
}

.titolo {
    font-family: "Raleway", sans-serif;
    font-size: 70px;
    color: white;

}

.sottotitolo {
    font-family: "Quicksand", sans-serif;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.575);
}

.bg {
    background-image: url(https://www.digitalocean.com/assets/media/hero-images/customers-f104f5c8.svg);
    background-color: rgb(0, 119, 255);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-position-y: bottom;
}

.bg2 {
    background: url(https://discordapp.com/assets/f35de8ceb4c7be0466509e067b5209a6.svg) top 100px left no-repeat, url(https://discordapp.com/assets/5c8a0eea53ae23a427b61fdb1a2487b6.svg) bottom right no-repeat;
}

.bg3 {
    /* background-color: rgb(0, 119, 255); */
    background: rgb(9,9,121);
    background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
}

.bg-light {
    background-color: rgb(0, 119, 255) !important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.6);
}

.navbar-light .navbar-nav .nav-link.active {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white;
}

.navbar-light .navbar-text a {
    color: white;
}

.navbar-light .navbar-text a:hover {
    color: white;
}

.spaziosuegiu {
    margin-top: 50px;
    margin-bottom: 50px;
}

.features {
    border: 1px solid rgba(0, 0, 0, 0.034);
    padding: 30px;
    border-radius: 10px;
    margin-top: 50px;
    padding-bottom: 100px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.014), 0 3px 6px rgba(0, 0, 0, 0.014);
}

.features:hover {
    box-shadow:0 4px 10px rgba(0, 0, 0, 0.200);
}

.featuresicons {
    font-size: 50px; 
}

.ftitolo {
    font-family: "Quicksand", sans-serif;
    font-size: 40px;
    color: rgb(53, 53, 53);
    text-align: center;
}

.fline {
    width: 100px;
    background-color: rgb(0, 119, 255);
    height: 3px;
    margin-top: 35px;
    margin-bottom: 0px;
    border-radius: 100px;
    
}

.ftitoli {
    font-family: "Quicksand", sans-serif;
    font-size: 23px;
    margin-bottom: 15px;
    text-align: center;
}

.fdesc {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    text-align: center;
    color: rgb(133, 133, 133);
}

.ficon {
    font-size: 46px;
    margin-bottom: 20px;
    color: rgb(59, 59, 59);
}

@font-face {
    font-family: 'Sailec';
    src: url('/fonts/Sailec-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

.ctitolo {
    font-family: "Sailec", sans-serif;
    font-size: 50px;
    color: white;
}

.ctesto {
    font-family: "Quicksand", sans-serif;
    color: white;
    font-size: 25px;
}

.sugiu {
    margin-top: 100px;
    margin-bottom: 50px;
}

.clienti {
    width: 200px;
    height: auto;
}

/* .servizi {
    font-family: "Quicksand", sans-serif;
    font-size: 40px;
    text-align: center;
} */

.btn {
    border-color: #0077ff;
    border-radius: 50px;
    font-size: 30px;
    margin-top: 20px;
    padding-right: 60px;
    padding-left: 60px;
    border-width: 2px;
}

.stitolo {
    font-size: 40px;
    font-family: "Quicksand", sans-serif;
    text-align: center;
}

.sottolineatura {
    border-bottom: 4px solid #0077ff;
}

.rowsu {
    margin-top: 40px;
}

.clientilogogo {
    width: 200px;
    height: auto;
}

.clientilogogh {
    width: 200px;
    height: auto;
}

.clientilogoms {
    width: 250px;
    height: auto;
}

.clientilogoap {
    width: 90px;
    height: auto;
}

.clientilogoaz {
    width: 190px;
    height: auto;
    margin-top: 30px;
}

.clientilogoci {
    width: 150px;
    height: auto;
}

.clientilogoin {
    width: 130px;
    height: auto;
}

/* 
.spulsante {
    font-family: "Roboto", sans-serif;
    color: rgb(0, 119, 255);
} */
