/* 
Creato da Robert Bustiuc (con l'aiuto di alcuni strumenti).
*/

* {
    margin: 0;
    padding: 0;
}

body,html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

::selection {
    background-color: rgb(95, 196, 255);
    color: white;
}

::-moz-selection {
    background-color: rgb(95, 196, 255);
    color: white;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #ffffff11;
}

::-webkit-scrollbar-track {
    background: #f0f0f0; 
}

::-webkit-scrollbar-thumb {
    background-color: #dddddd;
    border-radius: 100px;
    
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(182, 182, 182);
}

a, a:hover {
    text-decoration: inherit;
}

img {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
}

.logonav {
    width: 40px;
    height: auto;
    margin-right: 7px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

}

.navbar-brand {
    font-size: 36px;
    font-family: "Quicksand", sans-serif;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.nav-link {
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    margin: 0px 12px 0px 12px;
    cursor: pointer;
     -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out; 
}

.active {
    color: rgba(0,0,0,.7);
}

.icona {
    margin-right: 5px;
    font-size: 17px;
} 

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
  
    display: flex;
    align-items: center;
  }

.footer {
    background-color: #0077ff;
}

.flink {
    color: white;
    font-family: "Quicksand";
    font-size: 20px;
    margin-bottom: 5px;
    letter-spacing: 2px;
}

.social {
    font-size: 35px;
    color: white;
    margin-right: 12.5px;
    margin-left: 12.5px;
}

.hrf {
    max-width: 300px;
    background-color: #fff;
    height: 2px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.copyright {
    color: white;
    font-family: "Quicksand", sans-serif;
    margin-top: 5px;
    letter-spacing: 2px;
}